div{
    width: 100%;

}

body {
	line-height: 1;
}

input{
    box-sizing: content-box;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
   
}

.form-container{
    margin: 16px 4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-header{
    font-size: 36px;
    font-weight: 400;
}

/* -------------------------------------- */

/* ---------------------------------------- */



/* ----------------------------------------------- */

