.review-container{
    height: 100vh;
    background-color: rgb(163, 163, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-template{
    background-color: white;
    width: 460px;
    height: 620px;
    padding: 16px;
}

.cv-name{
    font-weight: 600;
    font-size: 28px;
}

.cv-title{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}

.basic-info{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 16px;
   
}

.basic-info > p{
    margin: 0;
    font-size: 12px;
}

.download-btn{
    height: 40px;
    width: 180px;
    font-size: 16px;
    background: #a4a4c5;
    border: 1px solid;
    border-radius: 16px
}